@model IEnumerable<Avianca.Models.ReservaDespegue>

@{
    ViewData["Title"] = "Index";
}
<div class="jumbotron text-center img-circle ">
    <h1 class="bg-danger text-capitalize"> RESERVA ESPACIO AEROPUERTO </h1>
    <a href="Reservas/Index">
    </a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="visibility:hidden">
                @Html.DisplayNameFor(model => model.IDReservaDespegue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aeropuerto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechayHora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="visibility:hidden">
                @Html.DisplayFor(modelItem => item.IDReservaDespegue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pista)
            </td>
            <td>
                <!-- weather widget start --><a target="_blank" href="https://hotelmix.es/weather/cali-19115"><img src="https://w.bookcdn.com/weather/picture/21_19115_1_4_3658db_250_2a48ba_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=582&anc_id=55278" alt="booked.net" /></a><!-- weather widget end -->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aeropuerto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechayHora)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", "ReservaDespegues", new { id = item.ID }, new { @class = "btn btn-primary btn-sm fas fa-edit" })
                @Html.ActionLink(" ", "Details", "ReservaDespegues", new { id = item.ID }, new { @class = "btn btn-primary btn-sm fas fa-info-circle" })
                @Html.ActionLink(" ", "Delete", "ReservaDespegues", new { id = item.ID }, new { @class = "btn btn-primary btn-sm fas fa-trash" })

            </td>
        </tr>
}
    </tbody>
</table>
